<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Anti Plankton</title>
</head>

<body>
<div th:insert="fragments :: dependencies"></div>
<div th:insert="fragments :: header"></div>

<div class="ui segment">
    <h1>Anti Plankton</h1>
    <div class="ui divider"></div>

    <form class="ui form" action="#" th:action="@{/antiplankton}" th:object="${antiplankton}" method="post">
        <div th:if="${antiplankton.status != true}">
            <img th:src="@{/img/plankton.png}" style="height: 180px; margin-left: 50px">
            <img th:src="@{/img/molot.png}" style="height: 200px;">
        </div>
        <div th:if="${antiplankton.status == true}">
            <img th:src="@{/img/minus-plankton.png}" style="height: 180px; margin-left: 130px">
            <img th:src="@{/img/resh.png}" style="height: 200px; position: absolute; left: 0; width: 470px">
        </div>
        <input class="ui fluid basic segment" type="submit" value="" title="Toggle status"
               style="position: absolute; height: 230px; margin-top: -220px; cursor: pointer"/>
    </form>

</div>

<div th:insert="fragments :: footer"></div>
<div th:insert="fragments :: scripts"></div>

</body>

</html>