<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>Extra coins submit</title>
</head>

<body>
<div th:insert="fragments :: dependencies"></div>
<div th:insert="fragments :: header"></div>
<h1>Result</h1>
<p th:text="'Value: ' + ${extraCoins.value}" />
<a href="/extra-coins">Submit another extra coins</a>
<div th:insert="fragments :: navigation"></div>
</body>

</html>