<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Add extra coins</title>
</head>

<body>
<div th:insert="fragments :: header"></div>
<h1>Add extra coins</h1>
<form action="#" th:action="@{/extra-coins}" th:object="${extraCoins}" method="post">
    <p>Value: <input type="text" th:field="*{value}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<div th:insert="fragments :: navigation"></div>
</body>

</html>