<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Add new tool</title>
</head>

<body>

<div th:fragment="dependencies">

    <!-- Jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <!-- Semantic UI -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" media="screen"
          rel="stylesheet" type="text/css">

    <!-- Semantic UI -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <script type="text/javascript" th:src="@{/js/main.js}"></script>

    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="icon" th:href="@{/img/krabs.png}">

</div>


<header th:fragment="header">
    <img th:src="@{/img/krabs.png}" alt="krabs" style="position: absolute; height: 200px; z-index: 999">
    <div style="width:100%; background-color:#f2a19e; margin-bottom: 200px">
        <div class="ui secondary menu" style="margin-left: 200px">
            <a class="item" th:href="@{/}">Smart Krab</a>
            <a class="item" th:href="@{/add-user}">Add new user</a>
            <a class="item" th:href="@{/extra-coins}">Add extra coins</a>
            <a class="item" th:href="@{/daily-report}">Daily report</a>
            <a class="item" th:href="@{/new-order}">Create new order</a>
            <a class="item" th:href="@{/cooking}">Cooking</a>
            <a class="item" th:href="@{/add-new-tool}">Add new tool</a>
            <a class="item" th:href="@{/tools-status}">Tools status</a>
            <a class="item" th:href="@{/antiplankton}">Anti Plankton</a>

            <div class="right menu">
                <div class="ui item" th:if="${#httpServletRequest.remoteUser != null}">
                    <span class="ui teal label" style="padding: 15px">
                        <i class="user icon"></i>
                        <span th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</span>
                    </span>
                </div>
                <div class="ui item" th:if="${#httpServletRequest.remoteUser != null}">
                    <form th:action="@{/logout}" method="post">
                        <input class="ui basic red button" type="submit" value="Sign Out"/>
                    </form>
                </div>
                <div class="ui item" th:if="${#httpServletRequest.remoteUser == null}">
                    <a class="ui basic blue button" th:href="@{/sign-in}">Sign in</a>
                </div>
            </div>
        </div>
    </div>
</header>


</body>

</html>