<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Add new tool</title>
</head>

<body>

<div th:fragment="dependencies">

    <!-- Jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <!-- Semantic UI -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" media="screen"
          rel="stylesheet" type="text/css">

    <!-- Semantic UI -->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <script type="text/javascript" th:src="@{/js/main.js}"></script>

    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="icon" th:href="@{/img/krabs.png}">

</div>


<div th:fragment="navbar">
    <a class="item" th:href="@{/}" style="color: aqua; font-size: 30px; margin-left: 150px">Smart Krab</a>

    <a class="item" sec:authorize="hasAnyRole('OWNER')" th:href="@{/new-user}">Add new user</a>
    <a class="item" sec:authorize="hasAnyRole('OWNER')" th:href="@{/extra-coins}">Add extra coins</a>
    <a class="item" sec:authorize="hasAnyRole('OWNER', 'CASHIER')" th:href="@{/daily-report}">Daily report</a>
    <a class="item" sec:authorize="hasAnyRole('CASHIER')" th:href="@{/new-order}">Create new order</a>
    <a class="item" sec:authorize="hasAnyRole('CHEF')" th:href="@{/cooking}">Cooking</a>
    <a class="item" sec:authorize="hasAnyRole('CHEF')" th:href="@{/new-tool}">Add new tool</a>
    <a class="item" sec:authorize="hasAnyRole('CHEF')" th:href="@{/delete-tool}">Tools status</a>
    <a class="item" sec:authorize="hasAnyRole('OWNER', 'CASHIER')" th:href="@{/antiplankton}">Anti Plankton</a>

    <div class="right menu">
        <div class="ui item" th:if="${#httpServletRequest.remoteUser != null}">
            <span class="ui teal label" style="padding: 15px">
                <i class="user icon"></i>
                <span th:inline="text">Hello, [[${#httpServletRequest.remoteUser}]]!</span>
            </span>
        </div>
        <div class="ui item" th:if="${#httpServletRequest.remoteUser != null}">
            <form th:action="@{/logout}" method="post">
                <input class="ui basic red button" type="submit" value="Sign Out"/>
            </form>
        </div>
        <div class="ui item" th:if="${#httpServletRequest.remoteUser == null}">
            <a class="ui basic blue button" th:href="@{/sign-in}">Sign in</a>
        </div>
    </div>
</div>

<header th:fragment="header" th:remove="tag">
    <div class="ui tablet computer only padded grid" id="computer-navbar">
        <img th:src="@{/img/krabs.png}" alt="krabs" style="position: absolute; height: 200px; z-index: 999">
        <div class="ui top fixed menu" style="padding: 0; background-color: #f2a19e">
            <div th:include="this :: navbar" th:remove="tag"></div>
        </div>
    </div>

    <div class="ui mobile only padded grid" id="tablet-mobile-navbar">
        <img th:src="@{/img/krabs.png}" alt="krabs" style="position: absolute; height: 120px; z-index: 999">
        <div class="ui top fixed menu" style="padding: 0; flex-wrap: wrap; background-color: #f2a19e">
            <div class="right menu">
                <a id="mobile_item" class="item"><i class="bars icon"></i></a>
            </div>
            <div class="ui stackable fluid menu" style="display: none;">
                <div th:include="this :: navbar" th:remove="tag"></div>
            </div>
        </div>
    </div>
</header>

<footer th:fragment="footer">
    <div class="ui center aligned container">
        <a th:href="@{/privacy}" target="_blank" style="color: aqua">Privacy policy</a> |
        <a th:href="@{/terms}" target="_blank" style="color: aqua">Terms of service</a>
    </div>
</footer>

<div th:fragment="scripts">
    <script type="text/javascript">
        $("#mobile_item").click(function() {
            $(".mobile.only.grid .ui.stackable.menu").toggle(300);
        });
        $(".ui.dropdown.item").dropdown();
    </script>
</div>

</body>

</html>