<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Add user submit</title>
</head>
<body>
<div th:insert="fragments :: dependencies"></div>
<div th:insert="fragments :: header"></div>

<div class="ui segment">
    <h3 class="ui dividing header">Result</h3>
    <div class="ui fluid label" style="text-align: center">
        <span th:text="'User: login - ' + ${user.login} + ', role - ' + ${user.role}"></span>
    </div>
    <div class="ui divider"></div>
    <a class="ui basic fluid button" href="/new-user">
        Submit another user
    </a>
</div>

<div th:insert="fragments :: footer"></div>
<div th:insert="fragments :: scripts"></div>
</body>
</html>