<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Add new tool</title>
</head>

<body>
<div th:insert="fragments :: dependencies"></div>
<div th:insert="fragments :: header"></div>

<div class="ui segment" style="height: 310px">
    <h3 class="ui dividing header">Add new tool</h3>
    <form class="ui form" action="#" modelAttribute="tool"
          th:action="@{/new-tool}"
          th:object="${tool}" method="post">
        <div class="field">
            <label>Tool name:</label>
            <input th:field="*{name}" type="text"/>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Tool name Error</td>
        </div>
        <div class="field">
            <label>Tool status:</label>
            <input id="status" th:field="*{status}" type="text"/>
            <td th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Tool status Error</td>
        </div>
        <div class="ui divider"></div>
        <input class="ui blue fluid button" type="submit" value="Submit"/>
        <div class="ui divider"></div>

    </form>
</div>

<div th:insert="fragments :: footer"></div>
<div th:insert="fragments :: scripts"></div>
</body>

</html>