<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Register new order</title>
</head>

<body>
<div th:insert="fragments :: dependencies"></div>
<div th:insert="fragments :: header"></div>
<h1>Register new order</h1>
<form action="#" th:action="@{/new-order}" th:object="${order}" method="post">
    <p>
        Position:
        <select th:field="*{position}">
<!--            <option value=""> &#45;&#45; </option>-->
            <option th:each="position : ${positions}"
                    th:value="${position.name}"
                    th:utext="${position.name}"/>
            <!--                    th:value="${position.id}"-->
        </select>
    </p>
    <p>
        Count: <input type="number" min="1" max="10" th:field="*{value}" />
        <td th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Value Error</td>
    </p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<div th:insert="fragments :: navigation"></div>
</body>

</html>