<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>

<body>
<div th:insert="fragments :: dependencies"></div>
<div th:insert="fragments :: header"></div>

<div class="ui segment" style="height: 270px">
    <h3 class="ui dividing header">Add new user</h3>
    <form class="ui form" action="#" modelAttribute="user"
          th:action="@{/new-user}"
          th:object="${user}" method="post">
        <div class="two fields">
            <div class="field">
                <label>User login:</label>
                <input th:field="*{login}" type="text"/>
                <td th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</td>
            </div>
            <div class="field">
                <label>User password:</label>
                <div class="ui action input">
                    <input id="password" th:field="*{password}" type="text"/>
                    <div class="ui button" onclick="genPaswd()">Generate</div>
                </div>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
            </div>
        </div>
        <div class="field">
            <label>User role:</label>
            <select class="ui dropdown" th:field="*{role}" id="resourceSelect">
                <option value="ROLE_CHEF">Chef</option>
                <option value="ROLE_CASHIER">Cashier</option>
                <option value="ROLE_OWNER">Owner</option>
            </select>
        </div>
        <div class="ui divider"></div>
        <input class="ui blue fluid button" type="submit" value="Submit"/>
        <div class="ui divider"></div>

    </form>
</div>

<div th:insert="fragments :: footer"></div>
<div th:insert="fragments :: scripts"></div>
<script>
    function genPaswd() {
        document.getElementById("password").value = Math.random().toString(36).slice(-8);
    }
</script>
</body>

</html>